{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<h1 class="section__title section__title--intro">Under Construction :)</h1>
<div class="portfolio-item-individual">
    <h2>My Story:</h2>
    <p>I'm a high performance Cross Country and Track athlete born in Winnipeg, Manitoba.
        I currently compete for the University of New Brunswick, based in Fredericton, NB.
        Additionally, I compete for the Saint John REDS Track and Field Club.
    </p>
    <p>
        I primarily compete in events from the 800m up to the 10,000m. However, I specialize in the
        1500m, 3000m Steeplechase, and the 5000m. I've run competitively since 8th grade and I hope to
        continue competing post collegiately.
    </p>
    <p>If you would like to follow my journey, you can check the sections below, and follow me on 
        Instagram and Strava (conveniently linked in the footer!)
    </p>

    <h2>How I'm ranking:</h2>
    <p> << Scraped data from 3000mSC Ranking Table >> </p>
    <br>
    <br>
    <br>

    <h2>Keep up with my training: </h2>
    <p> << Data from the Strava API >> </p>
    <br>
    <br>
    <br>

</div>

{% endblock %}